<div class="header">
  <span class="title medium">Classes</span>
</div>

<div class="section">
  <div class="row">
    <% @classrooms.each do |classroom| %>
      <%= link_to classroom_path(classroom), :class => 'card four columns align-left' do %>

        <span class="title small"><%= classroom.name %></span>
        <span class="text medium">Subject: <%= classroom.subject %></span>
        <div class="row">
          <div class="card four columns">
            <span><%= Classroom.students(classroom).count %></span>
            <span class="text small">Students</span>
          </div>

          <div class="card four columns">
            <span><%= classroom.feedback_requests.size %></span>
            <span class="text small">Forms sent</span>
          </div>

          <div class="card four columns">
            <span><%= classroom.responses.size %></span>
            <span class="text small">Received</span>
          </div>

        </div>

      <% end %>
    <% end %>
    <% if current_user.try(:instructor?) %>
      <%= link_to new_classroom_path, :class => 'card four columns' do %>

        <span class="text medium">Add</span>
        <span>a new</span>
        <span>classroom</span>
      <% end %>
    <% end %>

    <% if current_user.try(:student?) %>
      <%= link_to new_student_join_search_path, :class => 'card four columns' do %>

        <span class="text medium">Join</span>
        <span>classroom</span>
      <% end %>
    <% end %>
  </div>
</div>
