<div class="header">
  <span class="title medium">Classes</span>

  <span><%= button_to 'Join Classroom', new_student_join_search_path, method: :get, :class => 'button-primary' %></span>
</div>

<div class="section">
  <span class="title small">Your classes</span>
  <% @classrooms.each do |classroom| %>
    <%= link_to classroom_path(classroom) do %>
      <div class="card full">
        <span class="sub title"><%= classroom.name %></span>
        <span>Subject: <%= classroom.subject %></span>

        <span>Student Count: <%= classroom.users.count %></span>
      </div>
    <% end %>
  <% end %>
</div>
