<div class="header">
  <span>
    <%= link_to classrooms_path do %>
      <img src="/assets/back.svg" alt="back button" style="position: absolute">
    <% end %>
  </span>

  <br>

  <h1>Create a Class</h1>
</div>


<%= form_for(@classroom) do |f| %>

  <div class="field">
    <%= f.label :name, 'Class Name', :class => 'text medium' %>
    <span class="text med-sml">(e.g., CS59, Full-Stack JS)</span>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :subject, :class => 'text medium' %>
    <span class="text med-sml">(e.g., English, Computer Science)</span>
    <%= f.text_field :subject %>
  </div>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

<% end %>
