<div class="header">
  <span class="title medium">Forms</span>
  <span class="title small">Select the classroom you'd like to send a form to.</span>
</div>

<div class="section">
  <span class="title medium">Your classes</span>

  <div class="row">
    <% @classrooms.each do |classroom| %>

      <% if Classroom.students(classroom).empty? %>
        <div class="card four columns align-left">
          <span class="title small"><%= classroom.name %></span>
          <span class="text medium">Subject: <%= classroom.subject %></span>

          <div class="row">
            <div class="card alert twelve columns align-left">
              <span class="text medium">You must enroll students in this class before sending a form!</span>
              <br />
              <span class="text med-sml">Students can enroll in this class by using the code <%= classroom.class_code %></span>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to classroom_forms_path(classroom), :class => 'card four columns align-left' do %>

          <span class="title small"><%= classroom.name %></span>
          <span class="text medium">Subject: <%= classroom.subject %></span>
          <div class="row">

            <div class="card four columns">
              <span><%= Classroom.students(classroom).count %></span>
              <span class="text small">Students</span>
            </div>

            <div class="card four columns">
              <span><%= classroom.feedback_requests.size %></span>
              <span class="text small">Forms sent</span>
            </div>

            <div class="card four columns">
              <span><%= classroom.responses.size %></span>
              <span class="text small">Received</span>
            </div>
          </div>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>
