<div class="row">
  <div class="twelve columns card charts section first">

    <div class="row">

      <div id="Performance" class="nine columns chart tab-content">
          <!-- <span class="title">Monthly Growth</span> -->
          <div class="header align-left">
            <span class="title medium">Current Classroom: <%= @classroom.name %></span>
            <span class="title small">Instructor: <%= @user.last_name %>, <%= @user.first_name %></span>
            <span class="title small" style="display: block">Class Code: <%= @classroom.class_code %></span>
            <!-- <%= button_to 'Back To My Classrooms', root_path, method: :get %> -->
          </div>

          <div class="contained">
            <canvas id="selfChart" width="200" height="200"></canvas>
          </div>
      </div>

      <div id="Pacing" class="nine columns chart tab-content">
          <!-- <span class="title">Monthly Growth</span> -->
          <div class="header align-left">
            <span class="title medium">Current Classroom: <%= @classroom.name %></span>
            <span class="title small">Instructor: <%= @user.last_name %>, <%= @user.first_name %></span>
            <span class="title small" style="display: block">Class Code: <%= @classroom.class_code %></span>
            <!-- <%= button_to 'Back To My Classrooms', root_path, method: :get %> -->
          </div>

          <div class="contained">
            <canvas id="classChart" width="200" height="200"></canvas>
          </div>
      </div>





      <div class="three columns tab">

        <a href="javascript:void(0)" id="defaultChart" class="tab-link" onclick="openChart(event, 'Performance')">
          <div class="arrow-right"></div>
          <div class="row">
            <div class="six columns">
            Your Performance
            </div>
            <div class="six columns">

            </div>
          </div>
        </a>

        <!-- <a href="javascript:void(0)" class="tab-link last" onclick="openChart(event, 'Pacing')">
          <div class="arrow-right"></div>
          <div class="row">
            <div class="six columns">
              Class Pacing
            </div>
            <div class="six columns">
            </div>
          </div>
        </a> -->

        <div class="tab-link empty">
        </div>

        <div class="tab-link empty">
        </div>

        <div class="tab-link empty">
        </div>
        <div class="tab-link empty">
        </div>
      </div>

    </div>
  </div>
</div>

<% if current_user.try(:instructor?) %>
  <div class="row">
    <div class="nine columns card section">

      <div class="header align-left">
        <span class="title medium">My Feedback</span>
      </div>

      <% if @feedbacks.count > 0 %>
        <!-- <%= @feedbacks.count %> -->
        <div class="row">
        <% @feedbacks.each do |feedback| %>
            <div class="six columns card">
              <div class="section">
                <span class="title small">Submitted by <%= feedback.response.user.first_name %> <%= time_ago_in_words(feedback.response.updated_at) %> ago</span>
                <div class="text medium">
                  <span><%= feedback.value_free %></span>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <% else %>
        <div class="card full">
          <div class="section">
            <span class="title medium">No Free Response Feedback has been submitted.</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
