<span class="title" style="border-bottom: 2px solid black">Current Classroom: <%= @classroom.name %></span>
<span class="sub title">Instructor: <%= @user.last_name %>, <%= @user.first_name %></span>
<span class="sub title" style="display: block">Class Code: <%= @classroom.class_code %></span>
<%= button_to 'Back To My Classrooms', root_path, method: :get %>

<div class="chart-section">
  <div class="chart">
    <span class="title">Weekly Growth</span>
    <canvas id="selfChart" width="200" height="200"></canvas>
  </div>

  <div class="chart">
    <span class="title">Class Pacing</span>
    <canvas id="classChart" width="200" height="200"></canvas>
  </div>

  <div class="clear">

  </div>
</div>

  <div class="feedbacks">
    <div class="header">
      <span class="title">My Feedback</span>
    </div>
    <% if @feedbacks.count > 0 %>
      <% @feedbacks.each do |feedback| %>
        <div class="feedback-section">
          <span class="sub title">Submitted by <%= feedback.response.user.first_name %> <%= time_ago_in_words(feedback.response.updated_at) %> ago</span>
          <div class="small body">
            <span><%= feedback.value_free %></span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="feedback-section">
        <span class="sub title">No Free Response Feedback has been submitted.</span>
      </div>
    <% end %>
  </div>
</div>
