<div class="row">
  <div class="twelve columns card flat no-padding section first">

    <div class="row">

      <div class="max-width nine columns">

        <div class="header align-left pad-left">
          <span class="title medium"><%= @classroom.name %></span>
          <span class="title small"><%= @instructor.last_name %>, <%= @instructor.first_name %></span>
        </div>

        <hr>

        <div id="Overview" class="chart u-full-width">
          <div class="contained u-full-width pad-left">
            <% if current_user.try(:instructor?) %>

              <% if Classroom.students(@classroom).empty? %>
                <div class="row">
                  <div class="eight columns offset-by-two align-left">
                    <span class="title small minor">There is nothing here yet!</span>
                    <span>Get started by inviting some of your students using your unique <i class="splash orange">class code</i>.</span>
                    <span><i class="splash orange"><%= @classroom.class_code %></i></span>
                  </div>
                </div>
              <% elsif @instructor_feedback_requests.empty? %>
                <div class="row">
                  <div class="eight columns offset-by-two align-left">
                    <span>Still nothing here yet...</span>
                    <span>All done? Go ahead and request your first feedback!</span>
                  </div>
                </div>
              <% else %>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Date Sent</th>
                      <th>Performance</th>
                      <th>Complete</th>
                      <!-- <th>Incomplete</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% @instructor_feedback_requests.each do |feedback_request| %>
                      <% submited = feedback_request.responses.submited.count %>
                      <% incomplete = feedback_request.responses.incomplete.count %>
                      <% performance = feedback_request.responses.instructor_performance %>
                      <tr class="clickable">
                          <td>
                            <%= link_to responses_request_path(feedback_request) do %>
                              <%= feedback_request.form.name %>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to responses_request_path(feedback_request) do %>
                              <%= feedback_request.created_at.strftime("%A #{feedback_request.created_at.day.ordinalize}, %B") %>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to responses_request_path(feedback_request) do %>
                              <% if submited == 0 %>
                                -
                              <% else %>
                                <%= performance %> / 5
                              <% end %>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to responses_request_path(feedback_request) do %>
                              <%= submited %> / <%= submited + incomplete %>
                            <% end %>
                          </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>

            <% else %> <!-- Student is signed in -->

              <% if @student_feedback_responses.empty? %>
                <div class="row">
                  <div class="eight columns offset-by-two align-left">
                    <span class="title small minor">There is nothing here yet!</span>
                    <span>Encourage your instructor to get feedback for your classroom, it'll be :fire:.</span>
                  </div>
                </div>
              <% else %>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Date Responded</th>
                      <!-- <th>Performance</th> -->
                      <th>Complete</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @student_feedback_responses.each do |feedback_response| %>
                      <tr class="clickable">
                        <td>
                          <%= link_to response_path(feedback_response) do %>
                            <%= feedback_response.form.name %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to response_path(feedback_response) do %>
                            <%= feedback_response.updated_at.strftime("%A #{feedback_response.updated_at.day.ordinalize}, %B") %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to response_path(feedback_response) do %>
                            <%= feedback_response.is_complete %>
                          <% end %>
                        </td>
                      </tr>
                      <!-- <span><%= feedback_response %></span> -->
                    <% end %>
                  </tbody>
                </table>
              <% end %>

            <% end %>
          </div>
        </div>

      </div>

      <div class="max-width three columns students">
        <% if Classroom.students(@classroom).empty? %>
          <div class="row">
            <div class="card alert twelve columns align-left" style="margin-top: 0;">
              <span class="text medium">You must enroll students in this class before sending a form!</span>
              <br />
              <span class="text med-sml">Students can enroll in this class by using the code <%= @classroom.class_code %></span>
            </div>
          </div>
        <% else %>
          <div class="header pad-lr">
            <% if current_user.try(:instructor) %>
              <!-- <%= button_to 'Get Feedback', classroom_forms_path(@classroom), method: :get, :class => 'button-primary u-full-width', :style => 'margin-bottom: 9px;' %> -->
              <br>
              <br>
              <br>
              <span class="title small">Students</span>
              <!-- <br> -->
              <!-- <br> -->
            <% else %>
              <span class="title small" style="display: block; margin-bottom: 8px;">Code | <%= @classroom.class_code %></span>
              <!-- <br> -->
              <br>
              <span class="title small">Students</span>
            <% end %>
          </div>
          <hr>
        <% end %>
        <div class="row">
          <% @students.each do |student| %>
            <div class="max-width twelve columns student align-left" style="padding-left:2rem;">
              <span class="text medium"><%= student.last_name %>, <%= student.first_name %></span>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>




<!--  Individual Feedbacks Section -->
<% if current_user.try(:instructor?) %>
  <div class="row">
    <div class="twelve columns card flat">

      <div class="header align-left">
        <span class="title medium">Feedback Forms</span>
      </div>

      <% @forms.each do |f| %>
        <%= link_to classroom_form_path(@classroom, f), :class => 'six columns card align-left' do %>
          <% u = User.find(f.created_by_id) %>
          <span class="title med-sml"><%= f.name.capitalize %></span>
          <span class="title x-sml">Type | <%= f.assesment_type.capitalize %></span>
          <span class="title x-sml">Created by | <%= u.first_name %> <%= u.last_name %></span>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="twelve columns card flat">

      <div class="header align-left">
        <span class="title medium">My Feedback</span>
      </div>
      <hr>
      <% if @feedbacks.empty? %>
        <div class="u-full-width">
          <div class="section align-left">
            <span class="title small">No Feedback has been submitted.</span>
          </div>
        </div>
      <% else %>
        <!-- <%= @feedbacks.count %> -->
        <div class="row">
          <% @feedbacks.each do |feedback| %>
            <div class="six columns">

                <div class="row">
                  <div class="six columns align-left">
                    <span class="text med-sml minor">Submitted by <%= feedback.response.user.first_name %></span>
                  </div>
                  <div class="six columns align-right">
                    <span class="text med-sml minor"><%= time_ago_in_words(feedback.response.updated_at) %> ago</span>
                  </div>
                </div>

                <div class="row">
                  <div class="twelve columns align-left">
                    <span class="text medium"><%= feedback.value_free %></span>
                  </div>
                </div>

              <hr>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
