<div class="row">
  <div class="twelve columns card class-details section first">

    <div class="row">
      <div class="max-width ten columns">
        <div class="header align-left">
          <span class="title medium"><%= @classroom.name %></span>
          <span class="title small"><%= @instructor.last_name %>, <%= @instructor.first_name %></span>
          <span class="title small" style="display: block">Class Code | <%= @classroom.class_code %></span>
        </div>
        <hr>
        <div id="Overview" class="chart">
            <!-- <span class="title">Monthly Growth</span> -->

            <div class="contained u-full-width">
              <table class="u-full-width">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date Sent</th>
                    <th>Performance</th>
                    <th>Complete</th>
                    <th>Incomplete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @feedback_requests.last(5).each do |feedback_request| %>
                    <% submited = feedback_request.responses.submited.count %>
                    <% incomplete = feedback_request.responses.incomplete.count %>
                    <% performance = feedback_request.responses.instructor_performance %>
                    <tr>
                      <td><%= feedback_request.form.name %></td>
                      <td><%= feedback_request.created_at.strftime("%A #{feedback_request.created_at.day.ordinalize}, %B") %></td>
                      <td><%= performance %> / 5</td>
                      <td><%= submited %></td>
                      <td><%= incomplete %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
      </div>

      <div class="max-width two columns students">
        <div class="header">
          <%= button_to 'Get Feedback', classroom_forms_path(@classroom), method: :get, :class => 'button-primary u-full-width' %>
          <br>
          <span class="title small">Students</span>
          <!-- <br> -->
          <!-- <br> -->
        </div>
        <hr>
        <% @students.each do |student| %>
          <div class="row">
            <div class="twelve columns">
              <span class="text medium"><%= student.last_name %>, <%= student.first_name %></span>
            </div>
          </div>
        <% end  %>
      </div>

    </div>

  </div>
</div>

<% if current_user.try(:instructor?) %>
  <div class="row">
    <div class="twelve columns card section">

      <div class="header align-left">
        <span class="title medium">My Feedback</span>
      </div>
      <hr>
      <% if @feedbacks.count > 0 %>
        <!-- <%= @feedbacks.count %> -->
        <div class="row">
        <% @feedbacks.each do |feedback| %>
            <div class="six columns card">
              <div class="section">
                <div class="row">

                  <div class="six columns align-left">
                    <span class="title small">Submitted by <%= feedback.response.user.first_name %></span>
                  </div>
                  <div class="six columns align-right">
                    <span class="title small"><%= time_ago_in_words(feedback.response.updated_at) %> ago</span>
                  </div>

                </div>

                <div class="row">
                  <div class="twelve columns align-left">
                    <span class="title small"><%= feedback.value_free %></span>
                  </div>
                </div>

              </div>
            </div>
        <% end %>
      </div>
      <% else %>
        <div class="card u-full-width">
          <div class="section">
            <span class="title medium">No Free Response Feedback has been submitted.</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
