<div class="header align-center">
  <span class="title large">Teachers, let's get started</span>
</div>

<div class="row">
  <%= link_to root_path, :class => 'three columns' do %>
  <img src="/assets/back.svg" alt="back button" style="position: absolute">
  <% end %>
  <div class="six columns offset-by-three columns">
    <%= render "devise/shared/links" %>
  </div>

</div>


<div class="row section center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div class="field six columns offset-by-three columns">
    <%= f.label :email, :class => "label" %>
    <%= f.email_field :email, :style => "width: 100%", autofocus: true %>
  </div>

  <br />

  <div class="field six columns offset-by-three columns">
    <%= f.label :first_name, :class => "label" %>
    <%= f.text_field :first_name, :style => "width: 100%", autofocus: true %>
  </div>

  <br />

  <div class="field six columns offset-by-three columns">
    <%= f.label :last_name, :class => "label" %>
    <%= f.text_field :last_name, :style => "width: 100%", autofocus: true %>
  </div>

  <br />

  <div class="field six columns offset-by-three columns">
    <%= f.label :password, :class => "label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, :style => "width: 100%", autocomplete: "off" %>
  </div>

  <br />

  <div class="field six columns offset-by-three columns">
    <%= f.label :password_confirmation, :class => "label" %>
    <%= f.password_field :password_confirmation, :style => "width: 100%", autocomplete: "off" %>
  </div>

  <br />

  <div class="field six columns offset-by-three columns">
    <%= f.label "Access Code" %><br />
    <%= f.text_field :access_code, autofocus: true %>
  </div>

  <br />

  <div class="actions six columns offset-by-three columns">
    <%= f.submit "Sign up", :name => 'instructor_button' %>
  </div>
  <% end %>
</div>
