<%= link_to "Feedback", root_path, :class => 'name' %>

<div class="nav-items">
  <% if user_signed_in? %>
    <% if current_user.try(:instructor?) and current_user.classrooms.count > 0 %>
      <%= link_to "Create Classroom", new_classroom_path %>
    <% end %>

    <% if current_user.try(:student?) %>
      <%= link_to "Classrooms", classrooms_path %>
    <% end %>

    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>

  <% else %>
    <%= link_to "Sign Up Student", new_student_registration_path %>
    <%= link_to "Sign Up Instructor", new_instructor_registration_path %>
    <%= link_to "Log In", new_user_session_path %>
  <% end %>
</div>
