<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<%= f.check_box :_destroy %>
<%= f.label :_destroy, "Remove Question" %>

<div class="field">
  <%= f.label :option_zero, "0" %>
  <%= f.text_area :option_zero %>
</div>

<div class="field">
  <%= f.label :option_one, "1" %>
  <%= f.text_area :option_one %>
</div>

<div class="field">
  <%= f.label :option_two, "2" %>
  <%= f.text_area :option_two %>
</div>

<div class="field">
  <%= f.label :option_three, "3" %>
  <%= f.text_area :option_three %>
</div>

<div class="field">
  <%= f.label :option_four, "4" %>
  <%= f.text_area :option_four %>
</div>

<div class="field">
  <%= f.label :option_five, "5" %>
  <%= f.text_area :option_five %>
</div>
