<!-- <%= render "partials/#{@form.current_step}_step", :f => f %>  PUT ME IN NEW.HTML.ERB -->
<!-- <%= f.submit "Back", :name => "back_button" unless @form.first_step? %> PUT ME IN NEW.HTML.ERB -->

<%= f.radio_button(:five_tier, true) %>
<%= f.label(:five_tier, "Five Tier Form") %>
<%= f.radio_button(:five_tier, false) %>
<%= f.label(:five_tier, "Three Tier Form") %>

<h1><%= @form.current_step %></h1>
