<h1><%= @form.name %></h1>

<%= form_for @response do |f| %>

  <p>
    <% @questions.each do |question| %>
      <section>
        <li><%= question.label %></li>
        <ul>
          <%= f.fields_for :questions do |builder| %>
            <%= render partial: "partials/answer_fields", locals: { :f => builder, :q => question } %>
          <% end %>
        </ul>
      </section>
    <% end %>
  </p>



  <p><%= f.submit "Submit" %></p>

<% end %>

<%= link_to "Back to Notifications", notifications_path %>
