<h1><%= @form.name %></h1>

<%= form_for @response do |f| %>

  <p>
    <%= f.hidden_field :is_complete, value: true %>
  </p>



  <p><%= f.submit "Submit" %></p>

<% end %>

<%= link_to "Back to Notifications", notifications_path %>
