<span class="title medium"><%= @response.form.name %></span>

<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <h4><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h4>

    <ul>
    <% @response.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="section">
    <!-- <ol> -->
      <%= f.fields_for :answers do |a| %>
        <% question = Question.find_by( id: a.object.question_id ) %>
        <span class="title small splash orange"><%= question.label %></span>

        <% if question.try(:static?) %>
          <div class="">
            <span class="title small"><%= a.label :value_static, "Select one aption that applies to you most." %></span>
            <div class="inline">
              <%= a.radio_button :value_static, 0 %>
              <%= a.label :value_waiting, "0. Waiting", :class => 'inline' %><br />
            </div>

            <div class="inline">
              <%= a.radio_button :value_static, 1 %>
              <%= a.label :value_beginning, "1. Beginning", :class => 'inline' %><br />
            </div>

            <div class="inline">
              <%= a.radio_button :value_static, 2 %>
              <%= a.label :value_undertaking, "2. Undertaking", :class => 'inline' %><br />
            </div>

            <div class="inline">
              <%= a.radio_button :value_static, 3 %>
              <%= a.label :value_approaching, "3. Approaching", :class => 'inline' %><br />
            </div>

            <div class="inline">
              <%= a.radio_button :value_static, 4 %>
              <%= a.label :value_overtaking, "4. Overtaking", :class => 'inline' %><br />
            </div>

            <div class="inline">
              <%= a.radio_button :value_static, 5 %>
              <%= a.label :value_innovating, "5. Innovating", :class => 'inline' %><br />
            </div>
          </div>

            <ul>
              <% question.skills.each do |skill| %>
                <li><%= skill.label %></li>
              <% end %>
            </ul>

          <% else %>
            <p>
              <%= a.label :value_free, "Free Response Answer" %><br />
              <%= a.text_field :value_free %><br />
            </p>
          <% end %>
      <% end %>
    <!-- </ol> -->

  </div>

  <p><%= f.submit "Submit" %></p>

<% end %>

<%= button_to "Back to Notifications", notifications_path, method: :get %>

<!-- <div class="response-footer-wrapper">   -->
  <div class="row response-footer">

    <div class="card two columns">
      <span>test</span>
    </div>

    <div class="card two columns">
      <span>test</span>
    </div>

    <div class="card two columns">
      <span>test</span>
    </div>

    <div class="card two columns">
      <span>test</span>
    </div>

    <div class="card two columns">
      <span>test</span>
    </div>

    <div class="card two columns">
      <span>test</span>
    </div>

  </div>
<!-- </div> -->
