<div class="header">
  <span class="title medium">Feedback Request Details</span>
  <span class="title small">Submitted: <%= @submitted_responses.count %> | Incomplete: <%= @incomplete_responses.count %> | Students: <%= @students.count %></span>
</div>

<hr>

<div class="section">
  <span class="title medium">Students</span>
  <div class="row">
    <% @students.each do |student| %>
      <div class="three columns">
        <span class="title small"><%= student.first_name %> <%= student.last_name %></span>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class="section">
  <span class="title medium">Feedback</span>
  <% if @feedbacks.empty? %>
    <span>You haven't received any feedback.</span>
  <% else %>
    <div class="row">

      <% @feedbacks.each do |feedback| %>

        <div class="six columns">
          <div class="section">
            <div class="row">

              <div class="six columns align-left">
                <span class="text med-sml minor">Submitted by <%= feedback.response.user.first_name %></span>
              </div>
              <div class="six columns align-right">
                <span class="text med-sml minor"><%= time_ago_in_words(feedback.response.updated_at) %> ago</span>
              </div>

            </div>

            <div class="row">
              <div class="twelve columns align-left">
                <span class="text medium"><%= feedback.value_free %></span>
              </div>
            </div>

          </div>
          <hr>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
