<div class="header">
  <span>
    <%= link_to root_path do %>
      <img src="/assets/back.svg" alt="back button" style="position: absolute">
    <% end %>
  </span>

  <br>

  <span class="title medium">Feedback Request Details</span>
  <span class="title small">Submitted: <%= @submitted_responses.count %> | Incomplete: <%= @incomplete_responses.count %> | Students: <%= @students.count %></span>
</div>

<hr>

<div class="section">
  <span class="title medium">Students</span>
  <div class="row">
    <% @students.each do |student| %>
      <div class="three columns">
        <span class="title small"><%= student.first_name %> <%= student.last_name %></span>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class="section">
  <span class="title medium">Feedback</span>
  <% if @request.responses.submited.empty? %>
    <span>You haven't received any feedback.</span>
  <% else %>
    <% @request.responses.submited.each do |response| %>
      <span><%= response %></span>
    <% end %>
  <% end %>
</div>
