<div class="form-fields twelve columns">
    <div class="row section">
      <div class="six columns">
        <%= f.text_field :label, autofocus: true, placeholder: 'Competency name...', :class => 'u-full-width' %>
      </div>

      <div class="six columns">
        <%= link_to_remove_fields "remove", f %>
      </div>
    </div>

    <%= f.hidden_field :static, :value => true %>
    <%= f.hidden_field :free, :value => false %>

    <%= f.fields_for :skills do |builder| %>
        <%= render 'skill_fields', :f => builder %>
    <% end %>

    <span class="title small bold splash orange"><%= link_to_add_fields "Add Skill", f, :skills %></span>

</div>
