<%= form_for [@classroom, @form] do |f| %>
  <!-- ERRORS  -->
  <% if @form.errors.any? %>
    <div class="card">
      <h4><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h4>
      <ul>
        <% @form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :created_by_id, :value => current_user.id %>

  <div class="row">
    <div class="twelve columns">
      <%= f.label :name, 'Form name', :class => "title small bold" %>
      <%= f.text_field :name, :class => 'u-full-width', autofocus: true %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="twelve columns">
      <%= f.label :assesment_type, 'Assesment Type', :class => "title small bold" %>
      <%= f.text_field :assesment_type, :readonly => true %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="twelve columns">
      <span class="title med-sml">Competency Categories</span>
      <span class="title small bold splash orange"><%= link_to_add_fields "Add Category", f, :categories %></span>

      <div class="row" id="categories">
      </div>

    </div>
  </div>

  <%= f.fields_for :categories do |builder| %>
      <%= render 'category_fields', :f => builder %>
  <% end %>

  <div class="actions six columns offset-by-three columns">
    <br>
    <%= f.submit "Create", :class => 'button-primary' %>
  </div>
<% end %>
