<div class="form-fields">
  <% unless f.object.try(:free?) %>
    <div class="seven columns">
      <div class="header">
      </div>

      <p>
        <%= f.label :label, 'Question', :class => "label", :style => "display: inline-block" %>
        <%= link_to_remove_fields "remove", f %>
      </p>
      <%= f.text_field :label, :style => "width: 100%", autofocus: true %>

    <%= f.hidden_field :static, :value => true %>
    <%= f.hidden_field :free, :value => false %>

    <%= f.fields_for :skills do |builder| %>
      <div class="row">
        <%= render 'skill_fields', :f => builder %>
      </div>
    <% end %>

    <p><%= link_to_add_fields "Add Skill", f, :skills %></p>
  </div>
  <% else %>
    <%= render 'question_free_fields', :f => f %>
  <% end %>
</div>
