<div class="form-fields six columns offset-by-three columns">

  <div class="header">
    <span>Question Static</span>
    <p><%= link_to_remove_fields "remove", f %></p>
  </div>

  <%= f.label :label, :class => "label" %>
  <%= f.text_field :label, :style => "width: 75%", autofocus: true %>

  <%= f.hidden_field :static, :value => true %>
  <%= f.hidden_field :free, :value => false %>

  <%= f.fields_for :skills do |builder| %>
    <%= render 'skill_fields', :f => builder %>
  <% end %>

  <p><%= link_to_add_fields "Add Skill", f, :skills %></p>
</div>
