<% if !@classroom.nil? and !@classroom.new_record? %>

  <div class="header">
    <div class="row">
      <div class="six columns">
        <span class="title medium">Forms</span>
      </div>
      <div class="six columns">
        <%= button_to 'Create a Form', new_classroom_form_path(@classroom), method: :get, :class => 'button-primary u-pull-right' %>
      </div>
    </div>
  </div>

  <div class="row">

    <% if @forms.empty? %>

      <div class="six columns card">
        <span class="title medium">No forms right now.</span>
      </div>

    <% else %>

        <% @forms.each do |f| %>
          <%= link_to classroom_form_path(@classroom, f), :class => 'six columns card align-left' do %>
            <% u = User.find(f.created_by_id) %>
            <span class="title medium"><%= f.name.capitalize %></span>
            <span class="title small">Form Type: <%= f.assesment_type.capitalize %></span>
            <span class="title small">Created by: <%= u.first_name %> <%= u.last_name %></span>
          <% end %>
        <% end %>

    <% end %>

  </div>

<% else %>
  <%= render '/partials/segue_forms' %>
<% end %>
