<h1>Create a Form!</h1>

<%= form_for [@classroom, @form] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :sections do |builder| %>
    <%= builder.fields_for :question do |question_form| %>
      <div class="field">
        <%= render 'partials/question_fields', :f => question_form %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>
