<div class="header">
  <%= link_to classroom_forms_path(@classroom) do %>
    <img src="/assets/back.svg" alt="back button">
  <% end %>
  <br>
  <span class="title medium splash">
    <%= @form.name %>
    <span class="text medium aside">
      <i>Type</i> | <i><%= @form.assesment_type.capitalize %> Assesment</i>
    </span>
  </span>
</div>
<hr>
<div class="section">
  <!-- <ol> -->
    <% @questions.each do |question| %>
      <li class="title small bold"><%= question.label %></li>
      <ul>
        <% if question.try(:static?) %>
          <% question.skills.each do |skill| %>
            <li><%= skill.label %></li>
          <% end %>
        <% else %>
          <li>Optional Feedback section.</li>
        <% end %>
      </ul>
      <hr>
      <br>
    <% end %>
  <!-- </ol> -->
</div>

<div class="section">
    <%= button_to 'Send Form to Classroom', classroom_notification_creation_path(@classroom, @form), method: :post, :class => 'button-primary u-pull-left' %>
</div>
