<h1><%= @form.name %></h1>

<% @questions.each do |question| %>
  <section>
    <li><%= question.label %></li>
    <ul>
      <% if question.try(:static?) %>
        <% question.skills.each do |skill| %>
          <li><%= skill.label %></li>
        <% end %>
      <% else %>
        <li>(Response goes here)</li>
      <% end %>
    </ul>
  </section>

<% end %>

<%= button_to 'Send Form to Classroom', classroom_notification_creation_path(@classroom, @form), method: :post %>

<%= link_to "Back to All Forms", classroom_forms_path(@classroom) %>
