<div class="header">
  <%= link_to classroom_forms_path(@classroom) do %>
    <img src="/assets/back.svg" alt="back button">
  <% end %>
  <br>
  <span class="title medium splash orange">
    <%= @form.name %>
    <span class="text medium aside">
      <i>Type</i> | <i><%= @form.assesment_type.capitalize %> Assesment</i>
    </span>
  </span>
</div>
<hr>

<div class="section">

  <% @categories.each do |category| %>
    <% if category.name == 'Free Response' %>
      <span class="title med-sml splash blue"><%= category.name %> Section</span>
    <% else %>
      <span class="title med-sml splash blue"><%= category.name %> Competencies</span>
    <% end %>

    <% competencies = category.competencies %>

    <% competencies.each do |competency| %>
      <span class="title small bold"><%= competency.label %></span>
      <ul>
        <% if competency.try(:static?) %>
          <% competency.skills.each do |skill| %>
            <li><%= skill.label %></li>
          <% end %>
        <% else %>
          <li>Optional Feedback section.</li>
        <% end %>
      </ul>

      <hr style="width: 50%" class="u-pull-left">
      <div class="u-cf"></div>
    <% end %>
  <% end %>

</div>

<div class="section">
    <%= button_to 'Send Form to Classroom', classroom_notification_creation_path(@classroom, @form), method: :post, :class => 'button-primary u-pull-left' %>
</div>
