<!DOCTYPE html>
<html>
  <head>
    <title>Feedback.me</title>
    <meta name="description" content="Revolutionizing the way schools and businesses give and recieve feedback.
    Visualize growth, areas to improve, and trends over time.">
    <%= Gon::Base.render_data({}) %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:300,400,500' %>

    <script src="https://use.fontawesome.com/c332acfbe6.js"></script>
  </head>

  <body>
    <% if @disable.nil? %>
      <!--  Render side navigation -->
      <div class="row">
          <div class="one column nav">
            <%= render "partials/nav" %>
          </div>

          <div class="eleven columns content">

              <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>

              <%= yield %>

          </div>
      </div>

      <footer class="row">
        <div class="eleven columns offset-by-one column section">
          <span>Made with <i class="fa fa-heart" style="color: red" aria-hidden="true"></i> at <a href="https://www.makeschool.com/product-college/students">Make School</a> in San Francisco, California</span>
        </div>
      </footer>
    <% else %>
      <!--  Remove Side Navigation -->
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <%= yield if @disable %>
          </div>
        </div>
      </div>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
