<!DOCTYPE html>
<html>
  <head>
    <title>Feedback.me</title>
    <meta name="description" content="Revolutionizing the way schools and businesses give and recieve feedback.
    Visualize growth, areas to improve, and trends over time.">
    <meta name="google-site-verification" content="2362wERZr2O6Csk5jYDx2gZRChPppOBWQhVaZOZKTLU" />

    <meta property="og:url"                content="http://www.feedbackme.space" />
    <meta property="og:title"              content="Feedback.me" />
    <meta property="og:description"        content="Revolutionizing the way schools and businesses give and recieve feedback.
    Visualize growth, areas to improve, and trends over time." />
    <meta property="og:image"              content="<%= image_url('feedbackme_cover.png') %>" />

    <%= Gon::Base.render_data({}) %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:100,300,400,500' %>

    <script src="https://use.fontawesome.com/c332acfbe6.js"></script>
  </head>

  <body>
      <% if @disable.nil? %>
        <!--  Render Top navigation -->
        <div class="row">
          <ul class="twelve columns nav">
              <%= render "partials/nav-top" %>
          </ul>
        </div>

        <div class="row" id="body">
          <div class="twelve columns content">
            <div class="container">

              <!--  Error Messages -->
              <div class="alerts">
                <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>">
                  <span class="title small">
                    <%= value %>
                    <a href="#" id="close"><img src="/assets/Close.svg" alt=""></a>
                  </span>
                </div>
                <% end %>
              </div>

              <%= yield %>

            </div>
          </div>
        </div>

        <footer class="row section">
          <div class="twelve columns section">
            <span>Made with <i class="fa fa-heart" style="color: red" aria-hidden="true"></i> at <a href="https://www.makeschool.com/product-college/students">Make School</a> in San Francisco, California</span>
          </div>
        </footer>
      <% else %>
        <!--  Remove Side Navigation -->
        <div class="container">
          <div class="row">
            <div class="twelve columns">

              <div class="alerts">
                <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>">
                    <span class="title small">
                      <%= value %>
                      <a href="#" id="close"><img src="/assets/Close.svg" alt=""></a>
                    </span>
                  </div>
                <% end %>
              </div>

              <%= yield if @disable %>

            </div>
          </div>
        </div>
      <% end %>

      <!--  Scripts -->
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91999015-1', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
</html>
