<!DOCTYPE html>
<html>
  <head>
    <title>Feedback</title>
    <%= Gon::Base.render_data({}) %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' %>
  </head>

  <body>

    <div class="row">
      <div class="one column nav">
        <%= render "partials/nav" %>
      </div>

      <div class="eleven columns full offset-by-one column full">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>
      </div>
    </div>

  </body>
</html>
